## Esta primeira análise será feita se baseando no modelo lógico 'Análise Obesidade', o qual foi criado juntando os datasets ObesityStats e HeartDisease.

In [1]:
#IMPORTS

!pip3 install pandas
import sqlite3 as sql
import pandas as pd
import io
import os

In [2]:
# Limpar o buffer
try:
  os.remove("HeartDisease.csv")
  os.remove("ObesityStats.csv")
  os.remove("HeartDisease.csv.1")
  os.remove("ObesityStats.csv.1")
  os.remove("project.db") 
except OSError:      
  pass

## Download dos datasets já filtrados pela equipe e postos no repositório da equipe no GitHub.

In [3]:
!wget https://raw.githubusercontent.com/MatheusCod/Kinda_SUS-MC536_2s2020/main/stage03/CSVs/ObesityStats.csv
!wget https://raw.githubusercontent.com/MatheusCod/Kinda_SUS-MC536_2s2020/main/stage03/CSVs/HeartDisease.csv

--2020-11-13 04:17:36--  https://raw.githubusercontent.com/MatheusCod/Kinda_SUS-MC536_2s2020/main/stage03/CSVs/ObesityStats.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2716335 (2.6M) [text/plain]
Saving to: ‘ObesityStats.csv’

ObesityStats.csv    100%[===================>]   2.59M  --.-KB/s    in 0.1s

2020-11-13 04:17:36 (26.3 MB/s) - ‘ObesityStats.csv’ saved [2716335/2716335]

--2020-11-13 04:17:36--  https://raw.githubusercontent.com/MatheusCod/Kinda_SUS-MC536_2s2020/main/stage03/CSVs/HeartDisease.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 16970939 (16M) [text/plain]
Saving to: ‘HeartDisease.csv’

HeartDisease.csv    100%[===================>]  16.18M  37.2MB/s    in 0.4s

2020-11-13 04:17:37 (37.2 MB/s) - ‘HeartDisease.csv’ saved [16970939/16970939]

## Ligação dos datasets com a biblioteca sqlite3 do Python.

In [4]:
HeartDisease=pd.read_csv('HeartDisease.csv')
ObesityStats=pd.read_csv('ObesityStats.csv')

In [5]:
conn = sql.connect('project.db')

c = conn.cursor()

c.execute("DROP TABLE IF EXISTS ObesityStats")
c.execute("DROP TABLE IF EXISTS HeartDisease")

ObesityStats.to_sql('ObesityStats', conn)
HeartDisease.to_sql('HeartDisease', conn)

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:2615: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

In [6]:
AvgObesityData = pd.read_sql("""
  SELECT LocationAbbr, Question, Gender, AVG(Data_Value) Average
  FROM ObesityStats
  WHERE Question = 'Percent of adults aged 18 years and older who have obesity'
  GROUP BY LocationAbbr, Gender
  ORDER BY LocationAbbr
""", conn)

HeartData = pd.read_sql("""
  SELECT LocationAbbr, Topic, Stratification1, Data_Value, Data_Value_Unit
  FROM HeartDisease
  WHERE (Stratification1 = 'Male' OR Stratification1 = 'Female') AND Stratification2 = 'Overall' AND Topic = 'Heart Disease Mortality'
  GROUP BY LocationAbbr, Stratification1
  ORDER BY LocationAbbr
""", conn)

c.execute("DROP TABLE IF EXISTS AvgObesityData")
c.execute("DROP TABLE IF EXISTS HeartData")

AvgObesityData = AvgObesityData.dropna()
HeartData = HeartData.dropna()

AvgObesityData.to_sql('AvgObesityData', conn)
HeartData.to_sql('HeartData', conn)

## A criação da query que representa o modelo lógico 'Análise Obesidade' é a Query 1, logo após a Quary 2 e 3.

## Query 2: Médias de Obesidade e Morte por doenças do coração por Estado para o sexo masculino.

In [7]:
query2 = pd.read_sql(""" 
  SELECT HD.LocationAbbr, OD.Gender, OD.Question, OD.Average, HD.Topic, HD.Data_Value, HD.Data_Value_Unit
  FROM HeartData HD, AvgObesityData OD
  WHERE HD.LocationAbbr = OD.LocationAbbr AND HD.Stratification1 = 'Male' AND OD.Gender = 'Male'
  ORDER BY HD.LocationAbbr
""", conn)
c.execute("DROP TABLE IF EXISTS query2")
query2.to_sql('query2', conn)
query2

   LocationAbbr Gender  ... Data_Value         Data_Value_Unit
0            AK   Male  ...      350.9  per 100,000 population
1            AL   Male  ...      540.9  per 100,000 population
2            AR   Male  ...      518.5  per 100,000 population
3            AZ   Male  ...      344.9  per 100,000 population
4            CA   Male  ...      499.9  per 100,000 population
5            CO   Male  ...      309.4  per 100,000 population
6            CT   Male  ...      369.4  per 100,000 population
7            DE   Male  ...      401.8  per 100,000 population
8            FL   Male  ...      373.0  per 100,000 population
9            GA   Male  ...      434.3  per 100,000 population
10           HI   Male  ...      354.3  per 100,000 population
11           IA   Male  ...      410.4  per 100,000 population
12           ID   Male  ...      363.1  per 100,000 population
13           IL   Male  ...      423.3  per 100,000 population
14           IN   Male  ...      456.5  per 100,000 population
15           KS   Male  ...      391.2  per 100,000 population
16           KY   Male  ...      500.1  per 100,000 population
17           LA   Male  ...      522.2  per 100,000 population
18           MA   Male  ...      350.4  per 100,000 population
19           MD   Male  ...      420.8  per 100,000 population
20           ME   Male  ...      363.6  per 100,000 population
21           MI   Male  ...      482.1  per 100,000 population
22           MN   Male  ...      301.3  per 100,000 population
23           MO   Male  ...      473.3  per 100,000 population
24           MS   Male  ...      564.3  per 100,000 population
25           MT   Male  ...      369.8  per 100,000 population
26           NC   Male  ...      404.6  per 100,000 population
27           ND   Male  ...      361.2  per 100,000 population
28           NE   Male  ...      361.1  per 100,000 population
29           NH   Male  ...      358.2  per 100,000 population
30           NJ   Male  ...      417.4  per 100,000 population
31           NM   Male  ...      352.0  per 100,000 population
32           NV   Male  ...      484.2  per 100,000 population
33           NY   Male  ...      442.0  per 100,000 population
34           OH   Male  ...      459.2  per 100,000 population
35           OK   Male  ...      537.4  per 100,000 population
36           OR   Male  ...      330.0  per 100,000 population
37           PA   Male  ...      437.5  per 100,000 population
38           RI   Male  ...      413.1  per 100,000 population
39           SC   Male  ...      447.0  per 100,000 population
40           SD   Male  ...      400.6  per 100,000 population
41           TN   Male  ...      495.8  per 100,000 population
42           TX   Male  ...      415.5  per 100,000 population
43           US   Male  ...      414.4  per 100,000 population
44           UT   Male  ...      338.0  per 100,000 population
45           VA   Male  ...      382.3  per 100,000 population
46           VT   Male  ...      374.3  per 100,000 population
47           WA   Male  ...      455.1  per 100,000 population
48           WI   Male  ...      395.1  per 100,000 population
49           WV   Male  ...      469.9  per 100,000 population
50           WY   Male  ...      400.7  per 100,000 population

[51 rows x 7 columns]

## Query 3: Médias de Obesidade e Morte por doenças do coração por Estado para o sexo feminino.

In [8]:
query3 = pd.read_sql(""" 
  SELECT HD.LocationAbbr, OD.Gender, OD.Question, OD.Average, HD.Topic, HD.Data_Value, HD.Data_Value_Unit
  FROM HeartData HD, AvgObesityData OD
  WHERE HD.LocationAbbr = OD.LocationAbbr AND HD.Stratification1 = 'Female' AND OD.Gender = 'Female'
  ORDER BY HD.LocationAbbr
""", conn)
c.execute("DROP TABLE IF EXISTS query3")
query3.to_sql('query3', conn)
query3

   LocationAbbr  Gender  ... Data_Value         Data_Value_Unit
0            AK  Female  ...      196.7  per 100,000 population
1            AL  Female  ...      352.6  per 100,000 population
2            AR  Female  ...      334.1  per 100,000 population
3            AZ  Female  ...      211.5  per 100,000 population
4            CA  Female  ...      227.5  per 100,000 population
5            CO  Female  ...      197.1  per 100,000 population
6            CT  Female  ...      230.8  per 100,000 population
7            DE  Female  ...      265.8  per 100,000 population
8            FL  Female  ...      227.0  per 100,000 population
9            GA  Female  ...      355.5  per 100,000 population
10           HI  Female  ...      190.2  per 100,000 population
11           IA  Female  ...      251.7  per 100,000 population
12           ID  Female  ...      260.6  per 100,000 population
13           IL  Female  ...      261.0  per 100,000 population
14           IN  Female  ...      284.6  per 100,000 population
15           KS  Female  ...      236.5  per 100,000 population
16           KY  Female  ...      310.4  per 100,000 population
17           LA  Female  ...      330.4  per 100,000 population
18           MA  Female  ...      211.8  per 100,000 population
19           MD  Female  ...      264.7  per 100,000 population
20           ME  Female  ...      227.5  per 100,000 population
21           MI  Female  ...      311.3  per 100,000 population
22           MN  Female  ...      173.1  per 100,000 population
23           MO  Female  ...      298.7  per 100,000 population
24           MS  Female  ...      361.9  per 100,000 population
25           MT  Female  ...      224.0  per 100,000 population
26           NC  Female  ...      248.6  per 100,000 population
27           ND  Female  ...      231.6  per 100,000 population
28           NE  Female  ...      222.0  per 100,000 population
29           NH  Female  ...      229.7  per 100,000 population
30           NJ  Female  ...      262.4  per 100,000 population
31           NM  Female  ...      223.6  per 100,000 population
32           NV  Female  ...      284.2  per 100,000 population
33           NY  Female  ...      291.0  per 100,000 population
34           OH  Female  ...      288.4  per 100,000 population
35           OK  Female  ...      355.7  per 100,000 population
36           OR  Female  ...      199.2  per 100,000 population
37           PA  Female  ...      273.4  per 100,000 population
38           RI  Female  ...      247.2  per 100,000 population
39           SC  Female  ...      269.8  per 100,000 population
40           SD  Female  ...      222.8  per 100,000 population
41           TN  Female  ...      315.8  per 100,000 population
42           TX  Female  ...      262.6  per 100,000 population
43           US  Female  ...      260.1  per 100,000 population
44           UT  Female  ...      241.8  per 100,000 population
45           VA  Female  ...      244.3  per 100,000 population
46           VT  Female  ...      232.7  per 100,000 population
47           WA  Female  ...      269.8  per 100,000 population
48           WI  Female  ...      239.2  per 100,000 population
49           WV  Female  ...      311.2  per 100,000 population
50           WY  Female  ...      233.0  per 100,000 population

[51 rows x 7 columns]

In [11]:
query1 = pd.read_sql(""" 
  SELECT query2.LocationAbbr, query2.Data_Value Mortalidade_homens, query3.Data_Value Mortalidade_mulheres, query2.Average Obesidade_homens, query3.Average Obesidade_mulheres
  FROM query2, query3
  WHERE query2.LocationAbbr = query3.LocationAbbr
  ORDER BY query2.Data_Value
""", conn)
query1.to_sql('query1', conn)
query1

   LocationAbbr  Mortalidade_homens  ...  Obesidade_homens  Obesidade_mulheres
0            MN               301.3  ...              27.0                23.8
1            CO               309.4  ...              20.8                21.8
2            OR               330.0  ...              28.0                25.0
3            UT               338.0  ...              24.6                23.7
4            AZ               344.9  ...              26.5                27.1
5            MA               350.4  ...              25.9                21.4
6            AK               350.9  ...              29.2                27.5
7            NM               352.0  ...              25.6                27.1
8            HI               354.3  ...              24.7                18.7
9            NH               358.2  ...              28.7                24.8
10           NE               361.1  ...              30.8                28.4
11           ND               361.2  ...              33.7                28.0
12           ID               363.1  ...              31.2                27.9
13           ME               363.6  ...              29.1                28.7
14           CT               369.4  ...              25.5                24.4
15           MT               369.8  ...              26.1                23.1
16           FL               373.0  ...              27.5                25.3
17           VT               374.3  ...              25.7                23.8
18           VA               382.3  ...              27.1                27.3
19           KS               391.2  ...              30.5                29.4
20           WI               395.1  ...              30.7                28.7
21           SD               400.6  ...              32.0                27.6
22           WY               400.7  ...              28.2                27.4
23           DE               401.8  ...              30.6                31.5
24           NC               404.6  ...              28.6                30.2
25           IA               410.4  ...              32.4                30.1
26           RI               413.1  ...              28.5                26.1
27           US               414.4  ...              28.3                28.3
28           TX               415.5  ...              29.6                32.2
29           NJ               417.4  ...              27.8                24.9
30           MD               420.8  ...              27.8                28.8
31           IL               423.3  ...              28.3                30.5
32           GA               434.3  ...              29.2                31.5
33           PA               437.5  ...              30.3                29.7
34           NY               442.0  ...              24.7                26.1
35           SC               447.0  ...              30.1                33.4
36           WA               455.1  ...              26.6                27.7
37           IN               456.5  ...              31.1                32.6
38           OH               459.2  ...              30.0                30.8
39           WV               469.9  ...              35.4                34.9
40           MO               473.3  ...              30.7                30.2
41           MI               482.1  ...              31.1                31.9
42           NV               484.2  ...              25.9                26.6
43           TN               495.8  ...              32.8                34.6
44           CA               499.9  ...              25.1                23.1
45           KY               500.1  ...              33.3                33.1
46           AR               518.5  ...              35.2                34.1
47           LA               522.2  ...              31.1                35.0
48           OK               537.4  ...              32.9                32.2
49           AL               540.9  ...              30.9                34.0
50           MS               564.3  ...              33.8                36.4

[51 rows x 5 columns]

## Query 4: Estados em que o índice de Obesidade é maior do que a média e Morte por doenças do coração dos sexos feminino e masculino.

In [12]:
query4 = pd.read_sql(""" 
  SELECT query2.LocationAbbr, query2.Average Obesidade_homens, query3.Average Obesidade_mulheres, query2.Data_Value Mortalidade_homens, query3.Data_Value Mortalidade_mulheres
  FROM query2, query3
  WHERE query2.LocationAbbr = query3.LocationAbbr AND query2.Average > query3.Average
  ORDER BY query2.LocationAbbr
""", conn)
query4

   LocationAbbr  Obesidade_homens  ...  Mortalidade_homens  Mortalidade_mulheres
0            AK              29.2  ...               350.9                 196.7
1            AR              35.2  ...               518.5                 334.1
2            CA              25.1  ...               499.9                 227.5
3            CT              25.5  ...               369.4                 230.8
4            FL              27.5  ...               373.0                 227.0
5            HI              24.7  ...               354.3                 190.2
6            IA              32.4  ...               410.4                 251.7
7            ID              31.2  ...               363.1                 260.6
8            KS              30.5  ...               391.2                 236.5
9            KY              33.3  ...               500.1                 310.4
10           MA              25.9  ...               350.4                 211.8
11           ME              29.1  ...               363.6                 227.5
12           MN              27.0  ...               301.3                 173.1
13           MO              30.7  ...               473.3                 298.7
14           MT              26.1  ...               369.8                 224.0
15           ND              33.7  ...               361.2                 231.6
16           NE              30.8  ...               361.1                 222.0
17           NH              28.7  ...               358.2                 229.7
18           NJ              27.8  ...               417.4                 262.4
19           OK              32.9  ...               537.4                 355.7
20           OR              28.0  ...               330.0                 199.2
21           PA              30.3  ...               437.5                 273.4
22           RI              28.5  ...               413.1                 247.2
23           SD              32.0  ...               400.6                 222.8
24           UT              24.6  ...               338.0                 241.8
25           VT              25.7  ...               374.3                 232.7
26           WI              30.7  ...               395.1                 239.2
27           WV              35.4  ...               469.9                 311.2
28           WY              28.2  ...               400.7                 233.0

[29 rows x 5 columns]

## Query 5: Média da Obesidade e Morte por doenças do coração dos sexos feminino e masculino.

In [13]:
query5 = pd.read_sql(""" 
  SELECT AVG(query2.Average) Obesidade_homens, AVG(query3.Average) Obesidade_mulheres, AVG(query2.Data_Value) Mortalidade_homens, AVG(query3.Data_Value) Mortalidade_mulheres
  FROM query2, query3
  GROUP BY query2.Gender, query3.Gender
""", conn)
c.execute("DROP TABLE IF EXISTS query5")
query5.to_sql('query5', conn)
query5

   Obesidade_homens  ...  Mortalidade_mulheres
0         29.043137  ...            259.943137

[1 rows x 4 columns]

## Query 6: Estados onde as Médias da Obesidade é maior do que a Média Geral.

In [14]:
query6 = pd.read_sql(""" 
  SELECT query2.LocationAbbr, query2.Average Obesidade_homens, query3.Average Obesidade_mulheres, query2.Data_Value Mortalidade_homens, query3.Data_Value Mortalidade_mulheres
  FROM query2, query3, query5
  WHERE query2.LocationAbbr = query3.LocationAbbr AND query2.Average > query5.Obesidade_homens AND query3.Average > query5.Obesidade_mulheres
  ORDER BY query2.LocationAbbr
""", conn)
c.execute("DROP TABLE IF EXISTS query6")
query6.to_sql('query6', conn)
query6

   LocationAbbr  Obesidade_homens  ...  Mortalidade_homens  Mortalidade_mulheres
0            AL              30.9  ...               540.9                 352.6
1            AR              35.2  ...               518.5                 334.1
2            DE              30.6  ...               401.8                 265.8
3            GA              29.2  ...               434.3                 355.5
4            IA              32.4  ...               410.4                 251.7
5            IN              31.1  ...               456.5                 284.6
6            KS              30.5  ...               391.2                 236.5
7            KY              33.3  ...               500.1                 310.4
8            LA              31.1  ...               522.2                 330.4
9            ME              29.1  ...               363.6                 227.5
10           MI              31.1  ...               482.1                 311.3
11           MO              30.7  ...               473.3                 298.7
12           MS              33.8  ...               564.3                 361.9
13           OH              30.0  ...               459.2                 288.4
14           OK              32.9  ...               537.4                 355.7
15           PA              30.3  ...               437.5                 273.4
16           SC              30.1  ...               447.0                 269.8
17           TN              32.8  ...               495.8                 315.8
18           TX              29.6  ...               415.5                 262.6
19           WI              30.7  ...               395.1                 239.2
20           WV              35.4  ...               469.9                 311.2

[21 rows x 5 columns]

## Query 7: Estados onde a Mortalidade por doenças do coração é maior do que a média geral.

In [15]:
query7 = pd.read_sql(""" 
  SELECT query2.LocationAbbr, query2.Average Obesidade_homens, query3.Average Obesidade_mulheres, query2.Data_Value Mortalidade_homens, query3.Data_Value Mortalidade_mulheres
  FROM query2, query3, query5
  WHERE query2.LocationAbbr = query3.LocationAbbr AND query2.Data_Value > query5.Mortalidade_homens AND query3.Data_Value > query5.Mortalidade_mulheres
  ORDER BY query2.LocationAbbr
""", conn)
c.execute("DROP TABLE IF EXISTS query7")
query7.to_sql('query7', conn)
query7

   LocationAbbr  Obesidade_homens  ...  Mortalidade_homens  Mortalidade_mulheres
0            AL              30.9  ...               540.9                 352.6
1            AR              35.2  ...               518.5                 334.1
2            GA              29.2  ...               434.3                 355.5
3            IL              28.3  ...               423.3                 261.0
4            IN              31.1  ...               456.5                 284.6
5            KY              33.3  ...               500.1                 310.4
6            LA              31.1  ...               522.2                 330.4
7            MD              27.8  ...               420.8                 264.7
8            MI              31.1  ...               482.1                 311.3
9            MO              30.7  ...               473.3                 298.7
10           MS              33.8  ...               564.3                 361.9
11           NJ              27.8  ...               417.4                 262.4
12           NV              25.9  ...               484.2                 284.2
13           NY              24.7  ...               442.0                 291.0
14           OH              30.0  ...               459.2                 288.4
15           OK              32.9  ...               537.4                 355.7
16           PA              30.3  ...               437.5                 273.4
17           SC              30.1  ...               447.0                 269.8
18           TN              32.8  ...               495.8                 315.8
19           WA              26.6  ...               455.1                 269.8
20           WV              35.4  ...               469.9                 311.2

[21 rows x 5 columns]

## Query 8: Estados em que as Médias de Obesidade e Mortalidade são maiores do que as médias gerais.

In [16]:
query8 = pd.read_sql(""" 
  SELECT query6.LocationAbbr, query6.Obesidade_homens, query6.Obesidade_mulheres, query6.Mortalidade_homens, query6.Mortalidade_mulheres
  FROM query6, query7
  WHERE query6.LocationAbbr = query7.LocationAbbr 
  ORDER BY query6.LocationAbbr
""", conn)
c.execute("DROP TABLE IF EXISTS query8")
query8.to_sql('query8', conn)
query8

   LocationAbbr  Obesidade_homens  ...  Mortalidade_homens  Mortalidade_mulheres
0            AL              30.9  ...               540.9                 352.6
1            AR              35.2  ...               518.5                 334.1
2            GA              29.2  ...               434.3                 355.5
3            IN              31.1  ...               456.5                 284.6
4            KY              33.3  ...               500.1                 310.4
5            LA              31.1  ...               522.2                 330.4
6            MI              31.1  ...               482.1                 311.3
7            MO              30.7  ...               473.3                 298.7
8            MS              33.8  ...               564.3                 361.9
9            OH              30.0  ...               459.2                 288.4
10           OK              32.9  ...               537.4                 355.7
11           PA              30.3  ...               437.5                 273.4
12           SC              30.1  ...               447.0                 269.8
13           TN              32.8  ...               495.8                 315.8
14           WV              35.4  ...               469.9                 311.2

[15 rows x 5 columns]