In [ ]:
import csv

### Baixar o dataset Obesity Stats

In [ ]:
!wget https://github.com/MatheusCod/Kinda_SUS-MC536_2s2020/blob/main/stage03/CSVs/HeartDisease.csv

--2020-11-07 20:30:17--  https://raw.githubusercontent.com/MatheusCod/Kinda_SUS-MC536_2s2020/main/stage03/ObesityStats.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 20397291 (19M) [text/plain]
Saving to: ‘ObesityStats.csv’

ObesityStats.csv    100%[===================>]  19.45M  35.4MB/s    in 0.5s

2020-11-07 20:30:18 (35.4 MB/s) - ‘ObesityStats.csv’ saved [20397291/20397291]

### Deletar todas as linhas que não são de 2012 até 2014

In [ ]:
with open('ObesityStats.csv', 'r') as file_in, open('EditYear.csv', 'w') as file_out:
    read = csv.reader(file_in, delimiter=',')
    write = csv.writer(file_out)
    for row in read:
        if (row[0]=='YearStart'):
            write.writerow(row)
        elif ((int(row[0]) >= 2012) and (int(row[0]) <= 2014)):
            write.writerow(row)

### Eliminar linhas com dados de idade abaixo de 35 anos e com informação sobre renda e escolaridade.

In [ ]:
with open('EditYear.csv', 'r') as file_in, open('EditAttr.csv', 'w') as file_out:
    read = csv.reader(file_in, delimiter=',')
    write = csv.writer(file_out)
    for first in read:
        write.writerow(first)
        break
    for row in read:
        shouldWrite = True
        if (row[18] == '18 - 24' or row[18] == '25 - 34'):
            shouldWrite = False 
        if (row[19] != ''):
            shouldWrite = False
        if (row[21] != ''):
            shouldWrite = False
        if (shouldWrite):
            write.writerow(row)

### Obter linhas com anos e estados avulsos e juntá-los.

In [ ]:
states = ['US', 'AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA',
          'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 
          'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY',
          'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX',
          'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY']

with open('EditAttr.csv', 'r') as file_in, open('togYear.csv', 'w') as file_out:
    read = csv.reader(file_in, delimiter=',')
    write = csv.writer(file_out)
    for first in read:
        write.writerow(first)
        break
    for state in states:
        #2012
        for row in read:
            if (row[2] == state):
                if (row[0] == '2012'):
                    write.writerow(row)
        file_in.seek(0)
        #2013
        for row in read:
            if (row[2] == state):
                if (row[0] == '2013'):
                    write.writerow(row)
        file_in.seek(0)
        #2014
        for row in read:
            if (row[2] == state):
                if (row[0] == '2014'):
                    write.writerow(row)
        file_in.seek(0)

### Obter dados só do ano de 2013.

In [ ]:
with open('togYear.csv', 'r') as file_in, open('ObesityStats_2013.csv', 'w') as file_out:
    read = csv.reader(file_in, delimiter=',')
    write = csv.writer(file_out)
    for row in read:
        if (row[0]=='YearStart'):
            write.writerow(row)
        elif (row[0]=='2013'):
            write.writerow(row)

In [ ]:
import pandas as pd
df = pd.read_csv('ObesityStats_2013.csv')

In [ ]:
df

      YearStart  YearEnd  ... StratificationCategoryId1 StratificationID1
0          2013     2013  ...                       GEN            FEMALE
1          2013     2013  ...                       OVR           OVERALL
2          2013     2013  ...                       GEN              MALE
3          2013     2013  ...                       GEN            FEMALE
4          2013     2013  ...                     AGEYR         AGEYR3544
...         ...      ...  ...                       ...               ...
6880       2013     2013  ...                      RACE         RACE2PLUS
6881       2013     2013  ...                       GEN              MALE
6882       2013     2013  ...                      RACE           RACEWHT
6883       2013     2013  ...                      RACE           RACEOTH
6884       2013     2013  ...                       OVR           OVERALL

[6885 rows x 33 columns]